@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

/* Центровка основного блока */
  .wrapper {
  width: 300px;             
  margin: 0 auto;
  text-align: center;
}

/* Картинка */
  .wrapper img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

/* Заголовок */
  .wrapper h2 {
  font-family: 'Dancing Script', cursive;
  margin-top: 26px;
  font-weight: 400;
}
